---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import meImage from '../assets/me.jpg';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.localeCompare(a.data.pubDate),
);

const postsByYear = posts.reduce((acc, post) => {
    const year = post.data.pubDate.substring(0, 4);
    if (!acc[year]) {
        acc[year] = [];
    }
    acc[year].push(post);
    return acc;
}, {} as Record<string, typeof posts>);

const years = Object.keys(postsByYear).sort((a, b) => b.localeCompare(a));
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .profile {
                margin-bottom: 2em;
                padding-bottom: 2em;
                border-bottom: 3px solid rgb(var(--gray));
                text-align: left;
            }
            .profile-row {
                display: flex;
                align-items: center;
                gap: 1em;
            }
            .profile-icon {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            .profile-name {
                margin: 0;
                font-size: 1.5em;
                color: rgb(var(--black));
            }
            .profile-description {
                margin: 0.75em 0 0 0;
                color: rgb(var(--gray));
            }
            .year-section {
                margin-bottom: 2em;
            }
            .year-header {
                font-size: 1.5em;
                color: rgb(var(--black));
                margin-bottom: 0.5em;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                border-bottom: 1px solid rgb(var(--gray));
            }
            ul li a {
                display: block;
                padding: 1em 0;
                text-decoration: none;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1.4;
            }
            .date {
                margin: 0.5em 0 0 0;
                color: rgb(var(--gray));
                font-size: 0.875em;
            }
            ul li a:hover .title,
            ul li a:hover .date {
                color: var(--accent);
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section class="profile">
                <div class="profile-row">
                    <Image src={meImage} alt="Toru Takahashi" class="profile-icon" width={64} height={64} />
                    <p class="profile-name">Toru Takahashi</p>
                </div>
                <p class="profile-description">Tech stuff, work things, and random life update</p>
            </section>
            <section>
                {
                    years.map((year) => (
                        <div class="year-section">
                            <h2 class="year-header">{year}</h2>
                            <ul>
                                {postsByYear[year].map((post) => (
                                    <li>
                                        <a href={`/blog/${post.id}/`}>
                                            <h4 class="title">{post.data.title}</h4>
                                            <p class="date">
                                                <FormattedDate date={post.data.pubDate} />
                                            </p>
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    ))
                }
            </section>
        </main>
        <Footer />
    </body>
</html>
